<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>MacHu-GWU.afwf_md5</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>17D3F1ED-4F77-4B68-B1EF-2AF3391450D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B7BA433-D01D-40AC-BCCB-841FE8AE7555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29B330C7-4635-4139-AD27-F61AC0786EB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B7BA433-D01D-40AC-BCCB-841FE8AE7555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5E53644-4025-43E5-A356-9ABC4C347063</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B7BA433-D01D-40AC-BCCB-841FE8AE7555</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sanhe Hu</string>
	<key>description</key>
	<string>Find `md5` / `sha256` / `sha512` file checksum</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>afwf_md5</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>77</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>~/.local/bin/uvx --from "afwf-md5==0.1.2" afwf-md5 md5 --query '{query}'
# ~/Documents/GitHub/afwf_md5-project/.venv/bin/afwf-md5 md5 --query '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get File `md5` Check Sum</string>
				<key>title</key>
				<string>md5</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17D3F1ED-4F77-4B68-B1EF-2AF3391450D9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9B7BA433-D01D-40AC-BCCB-841FE8AE7555</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>77</integer>
				<key>keyword</key>
				<string>sha256</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>~/.local/bin/uvx --from "afwf-md5==0.1.2" afwf-md5 sha256 --query '{query}'
# ~/Documents/GitHub/afwf_md5-project/.venv/bin/afwf-md5 sha256 --query '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get File `sha256` Check Sum</string>
				<key>title</key>
				<string>sha256</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29B330C7-4635-4139-AD27-F61AC0786EB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>77</integer>
				<key>keyword</key>
				<string>sha512</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>~/.local/bin/uvx --from "afwf-md5==0.1.2" afwf-md5 sha512 --query '{query}'
# ~/Documents/GitHub/afwf_md5-project/.venv/bin/afwf-md5 sha512 --query '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get File `sha512` Check Sum</string>
				<key>title</key>
				<string>sha512</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C5E53644-4025-43E5-A356-9ABC4C347063</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/MacHu-GWU/afwf_md5-project</string>
	<key>uidata</key>
	<dict>
		<key>17D3F1ED-4F77-4B68-B1EF-2AF3391450D9</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>29B330C7-4635-4139-AD27-F61AC0786EB9</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>9B7BA433-D01D-40AC-BCCB-841FE8AE7555</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>C5E53644-4025-43E5-A356-9ABC4C347063</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.2</string>
	<key>webaddress</key>
	<string>https://github.com/MacHu-GWU/afwf_md5-project</string>
</dict>
</plist>
